#top.container-fluid
  .content.gradient
    .row-fluid
      .span8.offset2
        :markdown
          ![CoBiG² Logo](//graph.facebook.com/593361274014003/picture 'CoBiG²')

          We are a research group of the [Centro de Biologia Ambiental](http://cba.fc.ul.pt/) 
          (CBA, Environmental Biology Centre), of the 
          [Faculty of Sciences of the University of Lisbon](http://fc.ul.pt/) (FCUL), 
          and associated with the Academic [Department of Animal Biology](http://fc.ul.pt/dba) 
          (DBA) for teaching.