.navbar.navbar-fixed-top(ng-controller='AppCtrl')
  .navbar-inner(ng-cloak)
    .container
      a#menucollapse.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse', ng-href='javascript:')
        i.icon-chevron-down
      a.brand.menulnk(ng-href='/')
        img.logoimg(src="img/logo.png")
      .nav-collapse
        ul.nav
          li.dropdown(ng-repeat='item in menu | filter: hasDropdown')
            a.dropdown-toggle(data-toggle='dropdown', ng-href='javascript:')
              | {{item.text}}
              b.caret
            ul.dropdown-menu(role="menu", aria-labelledby='{{item.text}}')
              li.item(ng-repeat='subitem in item.dropdown')
                a.menulnk(ng-href='{{subitem.href}}', ng-class="{build: subitem.href == '/build'}") {{subitem.text}}
          li.item(ng-repeat='item in menu | filter: hasntDropdown')
            a.menulnk(ng-href='{{item.href}}', ng-class="{build: item.href == '/build'}") {{item.text}}
        form.search.item.navbar-search.pull-right(method='GET', action='https://www.google.com/search')
          input.search-query(type='text', name='as_q', placeholder='Search')
          input(type='hidden', name='as_sitesearch', value=hosts.production)
