li.thumbnail(ng-class='{span12: detailsShow, span4: !detailsShow}', id='{{id}}')
  button(ng-class='{span4: detailsShow, span12: !detailsShow}')
    .loading
      img.img-polaroid.fadein(
        onload='this.style.opacity="1";'
        style='height: 100px;'
        ng-src='{{picture}}'
        alt='{{title}}')
    h5 {{title}}
    p {{body}}
  .span8(ng-cloak, ng-class='{"app-show": detailsShow, "app-hide": !detailsShow}')
    .details(ng-cloak, ng-show='details')
      dl(ng-repeat='field in details.fields')
        dt {{field.title}}
        dd {{field.body}}
      a.icon(ng-repeat='link in details.links', class='icon-{{link.icon}}', ng-href='{{link.url}}', target='_blank')
      span.pull-right(style='color: #999; font-size: .5em;') {{id}}
