li.thumbnail.details-hidden(class='{{detailsShow && "span12" || "span4"}}')
  button(class='{{detailsShow && "span4" || "span12"}}')
    .loading
      img.img-polaroid.fadein(
        onload='this.style.opacity="1";'
        style='height: 100px;'
        ng-src='{{picture}}'
        alt='{{title}}')
    h5 {{title}}
    p {{body}}
  .details-show.span8(ng-cloak, ng-show='detailsShow')
    .details(ng-cloak, ng-show='details')
      dl(ng-repeat='field in details.fields')
        dt {{field.title}}
        dd {{field.body}}
      a.icon(ng-repeat='link in details.links', class='icon-{{link.icon}}', ng-href='{{link.url}}')
