!!!
html(lang='en', ng-app="app")
  head
    meta(charset='utf8')
    base(href='/')
    title #{title_short} | #{title}
    block css
      link(rel='stylesheet', href='css/bootstrap.css')
      link(rel='stylesheet', href='css/bootstrap-responsive.css')
      link(rel='stylesheet', href='css/app.css')

  body
    block menu
      include partials/menu

    block content
      div(ng-view)

    block js
      != js('base64') //- base64 codec
      != js('/components/marked/lib/marked.js') //- markdown codec
      != js('/components/jquery/jquery.min.js')
      != js('jquery.plugins')
      != js('/components/bootstrap/docs/assets/js/bootstrap.min.js')
      != js('/components/angular-complete/angular.js')
      != js('/components/angular-complete/angular-resource.js')
      != js('/components/angular-complete/angular-sanitize.js')
      != js('app')
      != js('globals')
      != js('services')
      != js('directives')
      != js('controllers')
      :coffeescript
        # After loading img, trigger resize to re-center content
        # TODO: Change this to directive or watch when img change...
        $(window).load ->
          $(window).resize()
